<div id="footer">
    <p class="left">
        <a href="/">Главная</a>
        <span>|</span>
        <a href="/order">Как оформить заказ</a>
        <span>|</span>
        <a href="/news">Новости</a>
        <span>|</span>
        <a href="/contacts">Контакты</a>
    </p>

    <p class="right">
        &copy; 2018 foodpanda.
    </p>
</div>