{% extends "layout.twig" %}
{% set page = 'order' %}

{% block content %}
    <table style="width: 667px; height: 1466px; margin-left:150px; font-size: 15px; color: #707070;" border="0" align="center">
        <tbody>
            <tr>
                <td>
                    <p><span style="font-size: large;">Как заказать?</span></p>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td style="text-align: justify;">
                    <p><span style="font-size: small;">1.&nbsp;Выберите Ваше любимое кафе;</span></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><span style="font-size: small;">2.&nbsp;Оформите онлайн заказ через сайт или мобильное приложение menu.by;</span></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><span style="font-size: small;">3.&nbsp;Укажите адрес, куда необходимо доставить заказ.</span></p>
                </td>
            </tr>
            <tr>
                <td style="text-align: justify;">
                    <p><span style="font-size: small;">4.&nbsp;Выберите способ оплаты:</span></p>
                </td>
            </tr>
            <tr>
                <td>
                    <ul style="margin-left: 50px;">
                        <li>
                            <p><span style="font-size: small;">Оплата наличными средствами при доставке;</span></p>
                        </li>
                        <li>
                            <p><span style="font-size: small;">Кредитной картой на месте &ndash; через POS терминал;</span></p>
                        </li>
                        <li>
                            <p><span style="font-size: small;">Кредитной картой на сайте или через мобильное приложение;</span></p>
                        </li>
                    </ul>
                    <p style="text-align: justify;"><span style="font-size: small;">Для совершения финансовой операции подходят карточки международных систем&nbsp;<strong>VISA</strong><strong> (всех видов), </strong><strong>MasterCard</strong><strong> (в том числе </strong><strong>Maestro</strong><strong>)</strong>, эмитированные&nbsp;<strong>любым банком мира</strong>, в том числе&nbsp;<strong>эмитированные АСБ &laquo;Беларусбанк&raquo;</strong>, а также карты системы&nbsp;<strong>БЕЛКАРТ. <br /></strong></span></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><span style="font-size: small;"> <span style="font-size: small;">5.&nbsp;<a href="http://belkart.by/BELKART/news/2014/payment-belcard-in-the-internet/" target="_blank">О процедуре оплаты по карточам БЕЛКАРТ ОАО "АСБ Беларусбанк"</a></span></span></p>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <p style="text-align: justify;"><span style="font-size: small;"><span style="font-size: small;">*<span>Код CVV2/CVC2 &mdash; это контрольный номер, состоящий из трех цифр, который напечатан на обратной стороне&nbsp; банковской карты. Этот номер, обычно, напечатан в верхнем правом углу специальной полосы для подписи. Ввод номера необходим, чтобы убедиться, что карта используется настоящим владельцем.&nbsp;</span></span></span></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td style="text-align: justify;">
                    <p><span style="font-size: small;"><span style="font-size: small;"><span style="font-size: small;">При выборе оплаты заказа с помощью банковской карты, обработка платежа (включая ввод номера банковской &nbsp;карты) производится&nbsp;<strong>ООО &laquo;Компания электронных платежей &laquo;АССИСТ&raquo;</strong><strong>&nbsp;</strong>с использованием программно-аппаратного комплекса&nbsp;<strong>системы электронных платежей </strong><strong>ASSIST</strong>, которая прошла международную сертификацию.&nbsp;Платежи по банковским картам осуществляются также через <strong>систему электронных платежей bePaid</strong>&nbsp; Платежная страница системы отвечает всем требованиям безопасности передачи данных (PCI DSS Level 1). Все конфиденциальные данные хранятся в зашифрованном виде и максимально устойчивы к взлому.</span></span></span></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td style="text-align: justify;">
                    <p><span style="font-size: small;">В системе, обеспечивающей безопасность платежей, используется&nbsp;<strong>защищённый протокол </strong><strong>TLS&nbsp;</strong>для передачи конфиденциальной информации от клиента на сервер и дальнейшей обработки в процессинговом центре. Это значит, что конфиденциальные данные плательщика (реквизиты карты, регистрационные данные и др.) не поступают в интернет-магазин, их обработка полностью защищена, и никто не может получить персональные и банковские данные клиента. Кроме того, при обработке платежей по банковским картам, используется безопасная<strong>&nbsp;</strong><strong>технология 3</strong><strong>D</strong><strong>-</strong><strong>Secure</strong>, которую в обязательном порядке требует международная платёжная система VISA и MasterCard.</span></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><em><span style="font-size: small;">Чтобы оплатить через Assist:</span></em></p>
                </td>
            </tr>
            <tr>
                <td>
                    <ol style="text-align: justify;">
                        <li>
                            <p><span style="font-size: small;">Выбираете способ отплаты картой on-line.</span></p>
                        </li>
                        <li>
                            <p><span style="font-size: small;">После нажатия на кнопку&nbsp;<strong>&laquo;Подтвердить и оплатить&raquo;</strong><strong>&nbsp;</strong>система направит вас на сайт провайдера электронных платежей&nbsp;<a href="http://belassist.by/" target="_blank">belassist.by</a>, обеспечивающей безопасность платежей. Авторизационный сервер устанавливает с Покупателем соединение по защищённому протоколу TLS и принимает от Покупателя параметры его банковской карты (номер карты, &nbsp;дата окончания действия карты, имя держателя карты в той транскрипции, как оно указано на банковской карте, а также номер CVC2, либо CVV2, указанные на оборотной стороне карты).&nbsp;&nbsp; Операция оплаты банковской картой онлайн полностью конфиденциальна и безопасна.</span></p>
                        </li>
                        <li>
                            <p><span style="font-size: small;">Ваши персональные данные и реквизиты карточки вводятся не на странице нашего сайта, а на авторизационной странице платежной системы. Доступ к ним осуществляется по протоколу безопасной передачи данных TLS, так же применяются технологии безопасных интернет платежей Verified by Visa и MasterCard SecureСode.</span></p>
                        </li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li style="text-align: justify;">
                            <p><span style="font-size: small;">К оплате принимаются карты платежных систем Visa International, MasterCard и Белкарт всех классов и банков. Мы рекомендуем заранее обратиться в свой банк, чтобы удостовериться в том, что ваша карта может быть использована для платежей в сети интернет.&nbsp;<strong><em>Причины отказа в авторизации могут быть следующими</em></strong><em>:</em></span></p>
                            <ul>
                                <li><span style="font-size: small;">на карте недостаточно средств для оплаты заказа;</span></li>
                                <li><span style="font-size: small;">банк, выпустивший карточку Покупателя, установил запрет на оплату в Интернете;</span></li>
                                <li><span style="font-size: small;">истекло время ожидания ввода данных банковской карты;</span></li>
                                <li><span style="font-size: small;">введённые данные не были подтверждены вами на платежной странице, ошибка формата данных и.т.д.</span></li>
                            </ul>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td style="text-align: justify;">
                    <p><span style="font-size: small;">В зависимости от причины отказа в авторизации для решения вопроса вы можете:</span></p>
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li style="text-align: justify;">
                            <p><span style="font-size: small;">обратиться за разъяснениями в Банк, выпустивший карточку Покупателя;</span></p>
                        </li>
                        <li style="text-align: justify;">
                            <p><span style="font-size: small;">в случае невозможности решения проблемы Банком &mdash; повторить попытку оплаты, воспользовавшись картой, выпущенной другим Банком.</span></p>
                        </li>
                    </ul>
                    <div style="text-align: justify;"><em><span style="font-size: small;">Чтобы оплатить через bePaid:</span></em></div>
                    <div style="text-align: justify;"><em><span style="font-size: small;"><br /></span></em></div>
                    <div style="text-align: justify;"><em><em></em></em>
                        <p><span style="font-size: small;">После нажатия кнопки <strong>Оплатить</strong> вы перейдете на специальную защищенную платежную страницу процессинговой системы <a href="https://bepaid.by/">bePaid</a></span></p>
                        <p><span style="font-size: small;">На платежной странице будет указан номер заказа и сумма платежа. Для оплаты вам необходимо ввести свои карточные данные и подтвердить платеж, нажав кнопку &laquo;<strong>оплатить</strong>&raquo;.</span><br /><span style="font-size: small;">Если ваша карта поддерживает технологию <strong>3-D Secure</strong>, вам будет предложено пройти стандартную одноминутную процедуру проверки владельца карты на сайте вашего банка (банк, выдавший вашу карту).</span><br /><span style="font-size: small;">После оплаты наш менеджер свяжется с вами указанным вами способом для уточнения деталей по доставке. </span><br /><span style="font-size: small;">Обращаем ваше внимание, что после проведения платежа на ваш электронный адрес придет подтверждение оплаты. Просим вас сохранять данные оплат.</span><br /><span style="font-size: small;">Мы принимаем платежи по следующим банковским картам: <strong>Visa, Visa Electron, MasterCard, Maestro, Белкарт.</strong></span></p>
                        <p><span style="font-size: small;">Если товар был оплачен картой через сайт, то возврат осуществляется на карту, с которой была произведена оплата, а срок поступления денежных средств на карту - от 3 до 30 дней с момента осуществления возврата Продавцом</span></p>
                        <em><span style="font-size: small;"><br /></span></em>
                    </div>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <p><span style="font-size: small; color: #888888;">6.&nbsp;Открывайте дверь, мы уже на пороге! <br /></span></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><span style="font-size: small; color: #888888;"><span style="font-size: small;">Вы также можете совершить заказ по номеру 7977 (для абонентов МТС и Life звонок бесплатный, для абонентов Velcom - согласно тарифам оператора)</span></span></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><span style="font-size: large;">Куда мы доставляем?</span></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td style="text-align: justify;">
                    <p><span style="font-size: small;"><span style="font-size: small;">Доставка осуществляется по всей территории <span style="font-size: small;">г. </span>Минска.&nbsp;</span></span><span style="font-size: small;">Доставка за пределы г. Минска и Республики Беларусь не осуществляется.</span></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><span style="font-size: large;">Сколько стоит доставка?</span></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><span style="font-size: small;">Стоимость доставки в Минске 2 рубля. В Могилеве, Бресте, Гомеле, Гродно и Витебске доставка бесплатная.&nbsp;</span></p>
                </td>
            </tr>
            <tr>
                <td style="text-align: justify;">
                    <p>&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td style="text-align: justify;">
                    <p><span style="font-size: large;">Минимальная сумма заказа!</span></p>
                </td>
            </tr>
            <tr>
                <td style="text-align: justify;">&nbsp;</td>
            </tr>
            <tr>
                <td style="text-align: justify;">
                    <p><span style="font-size: small;">Минимальная сумма заказа в Минске 15 руб! В Бресте, Гомеле, Гродно, Могилеве и Витебске - 12 рублей!</span></p>
                </td>
            </tr>
            <tr>
                <td style="text-align: justify;">&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <p><span style="font-size: large;">За какое время мы доставляем?</span></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td style="text-align: justify;">
                    <p><span style="font-size: small;">Средняя длительность доставки в пределах Минска составляет 40-50 минут, в зависимости от времени приготовления блюд и расстояния от кафе до места доставки.</span></p>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}